<div class="content">
	<div class='inner-content'>
		<h1>Events</h1>
	</div>
	<div class='inner-content'>
		<h2> Current Active Events</h2>
		<% @events.each do |event| %>
			<% if event.status == "FIRST CONTACT" || event.status == "CALLED BACK" || event.status == "PROPOSAL GENERATED" || event.status == "SALES MEETING SCHEDULED" || event.status == "CONTRACT GENERATED" || event.status == "DEFINITE" %>
				<%= link_to "#{event.client_first_name} #{event.client_last_name}", event_path(event.id) %>
			<% end %>
		<% end %>
	</div>

	<div class='inner-content'>
		<H2>Closed Events</h2>
		<% @events.each do |event| %>
			<% if event.status == "RELEASED" || event.status == "RELEASED-BAB" || event.status == "RELEASED-BADJ" %>
				<%= link_to "#{event.client_first_name} #{event.client_last_name}", event_path(event.id) %>
			<% end %>
		<% end %>
	</div>

	<div class='inner-content'>
		<div class='button-holder'>
			<%= link_to "create a new event", new_event_path, :class=>'add button' %>
		</div>
	</div>
</div>