/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,body{
    height:100%;
    font-family: arial;
    overflow-x: hidden;
    min-height:100%;
    background: #fdfaf6;

}



p {
    font-size: 18px;
}



*{
    margin:0;
    padding:0;
}
.wrapper{
    height:100%;
    overflow:auto;
}

.left {
 width: 11em;
 float:left;
 height:100%;
 background:#939393;
 position: fixed;
}

.main {
  margin-left:11em;
  width: 100%;
  height:100%;
  background: #fdfaf6;
  overflow: auto;
}
.button {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    width: 65%;
}

.button-inner {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    width: 65%;
}
.button-inner {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    width: 65%;
}

.button-inner:hover {
    background-color: #ddd;        
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.button-inner:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button-inner:focus {
    outline: 0;
    background: #fafafa;
}    

.button-inner:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;        
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    border-radius: .15em 0 0 .15em;
    pointer-events: none;        
}

.button:hover {
    background-color: #ddd;        
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.button:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}    

.button:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;        
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    border-radius: .15em 0 0 .15em;
    pointer-events: none;        
}

/* Hexadecimal entities for the icons */

.add:before {
    content: "\271A";
}

.edit:before {
    content: "\270E";        
}

.delete:before {
    content: "\2718";        
}

.save:before {
    content: "\2714";        
}

.email:before {
    content: "\2709";        
}

.like:before {
    content: "\2764";        
}

.next:before {
    content: "\279C";
}

.star:before {
    content: "\2605";
}

.spark:before {
    content: "\2737";
}

.play:before {
    content: "\25B6";
}
.button-holder {
    width: 18em;
}

li {
    list-style-type: none;
}


#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#content-wrap {
    float: right;
    width: 100%;
}

#info-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

.info {
    width:35%;
    float: left;
    padding: 20px;
}

.title {
    padding: 20px;
}

.bottom {
    padding: 20px;
}

.bands {
    padding-top: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

.delete-button {
    text-decoration: none;
    color: red;
    font-size: 2em;
}

h2 {
    padding-bottom: 20px;
    padding-top: 20px;
}
.ignore {
    padding: 0;
}

section#loginBox {
    background-color: rgb(255,255,255);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 0 4px rgba(0,0,0,0.2);
    margin: 40px auto; /*aligns center*/
    padding: 24px;
    width: 500px;
}

/*FORM*/
form.minimal label {
    display: block;
    margin: 6px 0;  
}

form.minimal input[type="text"],
form.minimal input[type="email"],
form.minimal input[type="number"],
form.minimal input[type="search"],
form.minimal input[type="password"],
form.minimal textarea {
    background-color: rgb(255,255,255);
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 14px;
    margin: 6px 0 12px 0;
    padding: 8px;   
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    width: 90%;

    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

form.minimal input[type="text"]:focus,
form.minimal input[type="email"]:focus,
form.minimal input[type="number"]:focus,
form.minimal input[type="search"]:focus,
form.minimal input[type="password"]:focus,
form.minimal textarea:focus,
form.minimal select:focus { 
    border-color: #4195fc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    color: rgb(0,0,0);
}

form.minimal input[type="text"]:invalid:focus,
form.minimal input[type="email"]:invalid:focus,
form.minimal input[type="number"]:invalid:focus,
form.minimal input[type="search"]:invalid:focus,
form.minimal input[type="password"]:invalid:focus,
form.minimal textarea:invalid:focus,
form.minimal select:invalid:focus { 
    border-color: rgb(248,66,66);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
}

.submit {
    width: 200px;
}

.content {
    padding: 20px;
}

.t01 {
    width: 40%;
}
​.t01 tr:nth-child(even) {
    background-color: #eee;
}
.t01 tr:nth-child(odd) {
   background-color:#fff;
}
.t01 th    {
    background-color: black;
    color: white;


}

.t02 {
    width:60%;
}
​.t02 tr:nth-child(even) {
    background-color: #eee;
}
.t02 tr:nth-child(odd) {
   background-color:#fff;
}
.t02 th    {
    background-color: black;
    color: white;


}

label.event{
  width: 13em;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  display: block
}

.communications-stuff {
    padding-top: 20px;
}

.notes {
    padding:20px;
}

.event-notes {
width: 13em;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  display: block;
  font-size: 18px
}

.content-container {
    width: 85%;
    overflow: auto;
    padding:20px;
    min-height: 100%;
}

.left-inner{
    padding-top: 20px;
    float:right;
    width:50%;
    height:100%;
    overflow: auto; 
    height:100%;
}

.right-inner{
    padding-top: 20px;
    margin-right: 50%; 
    height:100%;
    overflow: auto;
    min-height:100%;
}

.object3 {
    display: block;
    overflow: hidden;
}
.object4 {
    display: block;
    overflow: hidden;
}

li {
    font-size: 18px;
}

ul {
    float: left;
    padding-left: 1em;
}

.padding {
    padding: 1em;
}

div.form-columns{
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  height: 40em;
  }

  .bands-tr {
    height: 2em;
    
  }

  @media all and (max-width: 1025px) and (min-width: 600px) {
    .left {
        width: 5em;
    }
    .left .button {
        width: 4.5em;
        margin: 1px;
        padding: 1px;
    }
    .main {
        margin-left: 5em;
        font-size: 12px;
    }
    div.form-columns{
        height:50%;
    }

    .left-inner {
        float:left;
        width:80%;
    }
    .right-inner {
        float: left;
        width:80%;
    }
    .login {
        padding-left: 2em;
    }

}
.print {
    display: none;
}

pre {
    font-size: 18px;
    font-family: arial;

}
.mobile-content {
    height: 100%
}
.mobile-content ul {
    display:block;

}

@media print {
    .left, .button-holder, .contact, .linked, .search, .details {
        display:none;
    }
    body {
        overflow: visible;
    }
    .main {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    .left-inner {
        width: 50%;
    }
    .right-inner {
        width: 50%;
    }
    .content-container {
        width: 100%;
        padding: 0;
        margin:0;
        overflow: visible;
    }
    .object3 {
        width: 100%;
    }
    .padding {
        padding: 0;
    }
    p {
    font-size: 12px;
    } 
    li {
    font-size: 12px;
    }
    h2 {
        font-size: 13px;
        padding: 5px;
        margin:5px;
    }
    th {
        font-size: 10px;
    }
    td {
        font-size: 10px;
    }
    h1 {
        font-size: 14px;
    }
    a {
        color: black;
    }
    .truncate {
        display: none;
    }
    .print {
        display: block;
    }
}